<!doctype html>
<html>
    <head>
        <title>Kindle</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {% if status %}
        <p class="status {{status}}" id="status">
            {{message}}
        </p>
        {% endif %}
        <form id="upload" action="/kindle/send/" method="POST">

            <fieldset>
                <legend>Send a PDF to Kindle</legend>
                <br>
                <div>
                    <label for="urlfield">Paste url:</label>
                    <input type="text" style="width:50%" id="urlfield" name="url" autocomplete="off"/>
                </div>
                <br>
                <div>
                    <label for="urlfield">Enter your Kindle email:</label>
                    <input type="text" style="width:20em" id="emailfield" name="email"/>
                </div>

                <div id="submitbutton">
                    <button type="submit" style="float:right; margin-top: 50px;">Send to My Kindle</button>
                </div>

            </fieldset>

        </form>

    </body>
</html>
